<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=TestDb;persist security info=True;user id=sa;password=123456aA;MultipleActiveResultSets=True;TrustServerCertificate=True" />
  <add name="MySqlConnection" connectionString="Server=localhost;Database=TestDb;Uid=root;Pwd=123456aA" />
  <add name="SQLiteConnection" connectionString="Data Source=C:\users\rfacc\desktop\testdb.db3" />
</connectionStrings>
