<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=TestDb;persist security info=True;user id=sa;password=123456aA;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.EntityClient" />
<add name="DocutechEntities" connectionString="metadata=res://*/Data.DocutechModel.csdl|res://*/Data.DocutechModel.ssdl|res://*/Data.DocutechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DT_IEMCA;persist security info=True;user id=sa;password=123456aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
