<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=TestDb;persist security info=True;user id=sa;password=123456aA;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.EntityClient" />
  <add name="AlternativeConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=TestDb;persist security info=True;user id=sa;password=123456aA;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.EntityClient" />
</connectionStrings>
